body {
  display: flex;
  flex-direction: column;
  background-color: #fffaf0;
}

.header {
  display: flex;
  max-height: 125px;
  padding: 24px 0;
}

.heading {
  font-size: 40px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}

.subheading {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  text-transform: lowercase;
}

.body {
  font-size: 20px;
  font-weight: 500;
  font-family: "Darker Grotesque", sans-serif;
}

button {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
